* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
}

.home-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.playlist-heading {
    text-transform: uppercase;
    font-size: 1.6em;
    background: -webkit-linear-gradient(45deg, #c73461, #f83730, #fc924c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.playlist-bar {
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    -webkit-box-shadow: 10px 0px 24px -8px #27272745;
    -moz-box-shadow: 10px 0px 24px -8px #27272745;
    box-shadow: 10px 0px 24px -8px #27272745;
    padding: 1em;
    transform: translateX(0px);
    transition: all 0.3s linear;
    z-index: 100;
    background-color: white;
}

.hide-side-bar {
    transform: translateX(-300px);
}

.fa,
.fa-brands,
.fa-duotone,
.fa-light,
.fa-regular,
.fa-solid,
.fa-thin,
.fab,
.fad,
.fal,
.far,
.fas,
.fat {
    -webkit-font-smoothing: antialiased;
    display: grid !important;
    place-items: center !important;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}

.fa-xmark {
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-left: auto;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 177px -8px rgb(217 217 217);
    -moz-box-shadow: 10px 10px 177px -8px rgba(217, 217, 217, 1);
    box-shadow: 10px 10px 177px -8px rgb(217 217 217);
}

.sidebar-attributes-wrapper {
    margin-bottom: 1em;
}

.sidebar-attributes {
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid #ebebeb;
    font-weight: 500;
    padding: 0.7em 0;
    color: black;
}

.sidebar-attributes:hover {
    color: blue !important;
    text-decoration: none !important;
}

.sidebar-attributes:last-child {
    border: none;
}

.fa-users,
.fa-arrow-right-to-bracket,
.fa-user-plus,
.fa-user,
.fa-arrow-right-from-bracket,
.fa-house {
    width: 35px;
    height: 35px;
    color: white;
    border-radius: 50%;
    margin-right: 1em;
    background: rgb(199, 52, 97);
    background: -moz-linear-gradient(45deg, rgba(199, 52, 97, 1) 25%, rgba(248, 55, 48, 1) 74%, rgba(252, 146, 76, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(199, 52, 97, 1) 25%, rgba(248, 55, 48, 1) 74%, rgba(252, 146, 76, 1) 100%);
    background: linear-gradient(45deg, rgba(199, 52, 97, 1) 25%, rgba(248, 55, 48, 1) 74%, rgba(252, 146, 76, 1) 100%);
}

.playlist-title {
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0 0.7em;
    border: 0.5px solid #c9c9c9;
    margin-top: 0.7em;
    cursor: pointer;
    font-weight: 600;
}

.playlist-title-active {
    background-color: #eee;
}

.playlist-items {
    display: none;
    border: 0.5px solid #eee;
    border-top: none;
    border-bottom: none;
}

.playlist-items div {
    padding: 0.7em;
    min-height: 35px;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid #eee;
    text-transform: capitalize;
    font-size: 0.9em;
}

.toggle-display {
    display: block;
}



/* main concept */
.main-content {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.fa-bars {
    position: fixed;
    z-index: 5;
    background: rgb(199, 52, 97);
    background: -moz-linear-gradient(45deg, rgba(199, 52, 97, 1) 25%, rgba(248, 55, 48, 1) 74%, rgba(252, 146, 76, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(199, 52, 97, 1) 25%, rgba(248, 55, 48, 1) 74%, rgba(252, 146, 76, 1) 100%);
    background: linear-gradient(45deg, rgba(199, 52, 97, 1) 25%, rgba(248, 55, 48, 1) 74%, rgba(252, 146, 76, 1) 100%);
    color: white;
    padding: 0.5em;
    top: 3%;
    left: 2%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.3em;
    box-shadow: 1px 1px 10px #272727;
    cursor: pointer;
    z-index: 5;
}

.menu-bar-hide {
    display: none !important;
}

.search-content-wrapper {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-image: url("https://res.cloudinary.com/ankitcloudinary/image/upload/v1652382894/Movie%20App/359235--2014-movie-poster-wallpaper-oc_nm2d1s.webp");
    background-attachment: fixed;
}

.scroll-down-btn {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF !important;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    position: absolute;
    top: 11%;
    transition: all 0.1s linear;
}

.scroll-down-btn:focus {
    outline: none;
}

.scroll-down-btn:hover {
    transform: scale(1.1, 1.1);
    text-decoration: none !important;
}

.search-content-blurry-back {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.message-box {
    position: absolute;
    top: 4%;
    display: flex;
    align-items: center;
    background: white;
    padding: 0.2em 0.5em;
    font-size: 1em;
    font-weight: 600;
    font-family: monospace;
    min-height: 35px;
    border-radius: 3px;
}

.error-msg .fa-circle-xmark {
    color: red;
    margin-right: 0.3em;
    font-size: 1.2em;
}

.success-msg .fa-circle-check {
    color: #4BB543;
    margin-right: 0.3em;
    font-size: 1.2em;
}

.search-content-container {
    width: 50%;
    margin: auto;
    background: #000000d9;
    padding: 3em 2em;
    border-radius: 3px;
}

.search-content-container h1 {
    background: -webkit-linear-gradient(45deg, #c73461, #f83730, #fc924c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 3em;
}

.search-tagline {
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    color: #6C6C6C;
    font-family: 'Space Mono', monospace;
    margin-bottom: 0.5em;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
    margin-top: 1em;
}

.search-form input {
    height: 40px;
    width: 60%;
    background: #6C6C6C;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 0 1em;
    color: white;
    letter-spacing: 0.04em;
}

.search-form input::placeholder {
    color: white;
    text-transform: capitalize;
}

.search-form input:focus {
    outline: none;
}

.search-form button {
    height: 40px;
    padding: 0 1em;
    font-size: 1.1em;
    border: none;
    background: rgb(199, 52, 97);
    background: -moz-linear-gradient(45deg, rgba(199, 52, 97, 1) 25%, rgba(248, 55, 48, 1) 74%, rgba(252, 146, 76, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(199, 52, 97, 1) 25%, rgba(248, 55, 48, 1) 74%, rgba(252, 146, 76, 1) 100%);
    background: linear-gradient(45deg, rgba(199, 52, 97, 1) 25%, rgba(248, 55, 48, 1) 74%, rgba(252, 146, 76, 1) 100%);
    color: white;
    border-radius: 3px;
    width: 25%;
    cursor: pointer;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}


.all-movies-content-wrapper {
    padding: 3em 0;
    min-height: 100vh;
}

.movie-container {
    width: 60%;
    margin: auto;
}

.movie-container h1 {
    background: -webkit-linear-gradient(45deg, #c73461, #f83730, #fc924c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 3em;
}

.login-msg-playlist {
    text-align: center;
    font-weight: 600;
    color: blue;
}

.all-movies-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2em;
}

.each-movie {
    width: 30%;
    text-align: justify;
    box-shadow: rgb(100 100 111 / 54%) 0px 7px 29px 0px;
    padding: 0.5em;
    margin-bottom: 2em;
}

.each-movie img {
    width: 100%;
    margin-bottom: 0.5em;
}

h3.each-movie-title {
    font-size: 1.3em;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

.each-movie-year,
.each-movie-type {
    font-weight: 500;
    text-align: center;
}

.bttn {
    border: none;
    background: rgb(199, 52, 97);
    background: -moz-linear-gradient(45deg, rgba(199, 52, 97, 1) 25%, rgba(248, 55, 48, 1) 74%, rgba(252, 146, 76, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(199, 52, 97, 1) 25%, rgba(248, 55, 48, 1) 74%, rgba(252, 146, 76, 1) 100%);
    background: linear-gradient(45deg, rgba(199, 52, 97, 1) 25%, rgba(248, 55, 48, 1) 74%, rgba(252, 146, 76, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c73461", endColorstr="#fc924c", GradientType=1);
    color: white;
    font-size: 1em;
    letter-spacing: 0.07em;
    border-radius: 0.1em;
    cursor: pointer;
    padding: 0.4em 0;
    margin-top: 0.5em;
    width: 100%;
    outline: none;
}

.bttn-add:focus,
.bttn-createNewPlaylist:focus {
    outline: none;
}

.bttn-addCurPlaylist {
    min-width: 100px;
    max-width: 100px;
    padding: 0.4em 1em;
}

.create-new-playlist-form-hide {
    display: none;
}

.create-new-playlist-form-show {
    display: block !important;
}

.bttn-createNewPlaylist,
.bttn-hideNewPlaylist {
    width: auto;
    padding: 0.4em 0.4em !important;
    padding-top: 0;
    font-size: 1em;
    background: none;
    border: none;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    letter-spacing: 0.04em;
}


.create-new-playlist-section {
    margin-top: 0.5em;
}

.pop-up-h4 {
    text-align: initial;
    font-size: 1.2em;
    font-family: monospace;
}


/* all users page */
.view-profile-btn {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5e5df0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    /* line-height: 24px; */
    opacity: 1;
    outline: 0 solid transparent;
    /* padding: 8px 18px; */
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    width: 90%;
    display: block;
    text-align: center;
    margin: 0.5em auto;
    cursor: pointer;
    padding: 0.3em;
}

.view-profile-btn:hover {
    color: white;
}

/* single user page */
.user-page-right-side {
    width: 65%;
}

.private-public-wrapper {
    margin-bottom: 1em;
}

.private-public-heading {
    background: -webkit-linear-gradient(45deg, #c73461, #f83730, #fc924c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    font-weight: 600;
    /* text-align: center; */
    font-size: 1.5em;
}

/* responsiveness */
@media(max-width:1441px) {
    .movie-container {
        width: 70%;
    }
}

@media(max-width:1025px) {
    .movie-container {
        width: 90%;
    }

    .movie-container h1 {
        font-size: 2.5em;
    }

    .each-movie {
        width: 30%;
    }

    .search-content-container {
        width: 70%;
        word-break: break-word;
    }
}

@media(max-width:769px) {
    .movie-container {
        width: 80%;
    }

    .movie-container h1 {
        font-size: 2.1em;
    }

    .each-movie {
        width: 49%;
    }

    .search-content-container {
        width: 70%;
        word-break: break-word;
    }

    .search-content-container h1 {
        font-size: 2.1em;
    }

    .search-tagline {
        font-size: 1em;
    }

    .search-form {
        width: 100%;
        flex-direction: column;
    }

    .search-form input {
        width: 100%;
        margin-bottom: 1em;
        text-align: center;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .search-form button {
        width: 100%;
    }

    h3.each-movie-title {
        font-size: 1.1em;
    }

    .message-box {
        top: 12%;
        text-align: center;
        width: auto;
    }

    .all-movies-content-wrapper {
        padding: 2em 0;
    }

    .user-page-wrapper {
        justify-content: center !important;
    }

    .user-page-right-side {
        width: 95%;
    }
}

@media(max-width:526px) {
    .movie-container {
        width: 95%;
    }

    .movie-container h1 {
        font-size: 2.1em;
    }

    .each-movie {
        width: 49%;
    }

    .search-content-wrapper {
        background-image: url("https://res.cloudinary.com/ankitcloudinary/image/upload/v1652382894/Movie%20App/75789-free-download-horror-collage-wallpaper-horror-movies-wallpaper_ymgymk.webp");
    }

    .search-content-container {
        width: 70%;
        word-break: break-word;
    }

    .search-content-container h1 {
        font-size: 2.1em;
    }

    .search-tagline {
        font-size: 1em;
    }

    .search-form {
        width: 100%;
        flex-direction: column;
    }

    .search-form input {
        width: 100%;
        margin-bottom: 1em;
        text-align: center;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .search-form button {
        width: 100%;
    }

    h3.each-movie-title {
        font-size: 1.1em;
    }

    .message-box {
        top: 12%;
        text-align: center;
        width: auto;
    }

    .all-movies-content-wrapper {
        padding: 2em 0;
    }
}

@media(max-width:426px) {

    .search-content-container {
        width: 90%;
        word-break: break-word;
    }
}

@media(max-width:375px) {

    .all-movies-wrapper {
        justify-content: center;
    }

    .each-movie {
        width: 80%;
    }
}